# Python-specific ignore patterns
*.pyc
__pycache__/
Lib
Scripts

# Ignore virtual environment folders (optional)
venv/
env/

# Ignore generated data files
characters.json
data/locations.txt
data/image_prompts/
subscribers.json

# Ignore api_settings.py
api_settings.py

# Image folders
input
output
archives
large_images