# Python-specific ignore patterns
*.pyc
__pycache__/
Lib
Scripts

# Ignore virtual environment folders (optional)
venv/
env/

# Ignore generated data files
characters.json
data/locations.txt
data/image_prompts.txt
subscribers.json

# Ignore api_settings
.env

# Image folders
input
output
archives
large_images
