<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Characters</title>

    <style type="text/css">
        @font-face {
        font-family: BookInsanityRemake;
        src:  url('../static/fonts/5e/Bookinsanity.woff2');
        font-weight:normal; }
        @font-face {
    font-family: MrEavesRemake;
    src: url('../static/fonts/5e/Mr Eaves Small Caps.woff2');
    font-weight: normal;
    font-style: normal
}
    </style>
</head>
<body style="background-color: #EEE5CE;">
    <header class="container">
        <h1 class="display-4 text-center mt-5" style="font-family: MrEavesRemake; color:#58180D;">the RPG Characters Collection</h1>
    </header>
    <div class="container">
        
        <div class="row mt-5">
            {% for character in characters %}
            <div class="col-md-4">
              
                <div class="card mb-4" style="background-color: #F2E5B5;">
                    <img src="{{ character.image_url }}" class="card-img-top" alt="{{ character.full_name }}">
                    <div class="card-body" style="font-family: BookInsanityRemake;">
                        <h5 class="card-title" style="font-family: MrEavesRemake; color:#58180D;">{{ character.full_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ character.ethnicity }} {{ character.character_class }}</h6>
                        <p class="card-text"><strong>Background:</strong> {{ character.background }}</p>                
                        <a href="{{ url_for('character', id=character.id) }}" class="btn btn-outline-secondary">More details</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="container">
        <p class="text-center">Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://ludomancien.com/">Christian Amauger</a></p>"
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
