
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RPG Characters</title>
  </head>
  <body>
    <header class="container">
      <nav class="navbar navbar-expand-lg navbar-light custom-nav">
        <div class="container-fluid">
          <!-- Navigation code -->
          <nav class="navbar navbar-expand-lg navbar-light" style="font-family: MrEavesRemake; background-color: #eee5ce">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">RPG Characters</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/create-character.html">Create a Character</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about.html">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
      <h1 class="display-4 text-center mt-5 heading-main">
        The RPG Characters Collection
      </h1>
    </header>
    <div class="container-fluid mb-5">
      <!-- Body code -->
      <div class="row mt-5">
        {% for character in characters %}
        <div class="col-md-3">
          <div class="card mb-4" style="background-color: #f2e5b5">
            {% if character.has_image %}
            <img
              src="{{ url_for('static', filename='images/' ~ character.picture_id ~ '.png') }}"
              class="card-img-top"
              height="auto"
              width="auto"
              alt="{{ character.full_name }}"
            />
            {% else %}
            <img
              src="{{ url_for('static', filename='images/default.png') }}"
              class="card-img-top"
              height="auto"
              width="auto"
              alt="{{ character.full_name }}"
            />
            {% endif %}
            <div class="card-body">
              <h5
                class="character-card-title"
              >
                {{ character.full_name }}
              </h5>
              <h6 class="character-card-subtitle mb-2">
                {{ character.ethnicity }} {{ character.character_class }}
              </h6>
              <h6 class="character-card-subtitle mb-2">
                {{ character.background_name }}
              </h6>
              <a
              href="{{ url_for('character', picture_id=character.picture_id) }}"
                class="btn btn-outline-secondary"
                >More details</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
    <footer class="footer fixed-bottom mt-auto py-3 custom-footer">
      <div class="container">
        <p class="text-center custom-text">
          Made with <span class="heart">&#9829;</span> by
          <a href="https://ludomancien.com/">Christian Amauger</a>
        </p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

