<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Characters</title>
</head>
<body>
    <div class="container">
        <h1 class="display-4 text-center mt-5">Welcome to the RPG Characters Collection</h1>
        
        <div class="row mt-5">
            {% for character in characters %}
            <div class="col-md-6">
                <div class="card mb-6">
                  <img src="../static/images/portal.jpg" class="card-img-top" alt="{{ character.full_name }}">
                    <!-- <img src="{{ character.image }}" class="card-img-top" alt="{{ character.full_name }}"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ character.full_name }}</h5>
                        <p class="card-text"><strong>Ethnicity:</strong> {{ character.ethnicity }}</p>
                        <p class="card-text"><strong>Class:</strong> {{ character.character_class }}</p>
                        <p class="card-text"><strong>Background:</strong> {{ character.background }}</p>
                        <p class="card-text"><strong>Physical description:</strong> {{ character.physical_description_text }}</p>
                        <p class="card-text"><strong>Background Story:</strong> {{ character.background_story }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
